@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/static/PublicSans-Regular.ttf) format("truetype");
  }
  @font-face {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/fonts/static/PublicSans-Bold.ttf) format("truetype");
  }
}
